<a href="#content" class="visually-hidden skip-link">{{ 'layout.skipLink' | translate }}</a>

<div class="page">
  <app-header></app-header>
  <div class="page-wrapper">
    <ng-content select="[page-header]"></ng-content>

    <main class="page-body" id="content">
      <div class="container-xl">
        <router-outlet></router-outlet>
      </div>
    </main>

    <app-footer></app-footer>
  </div>
</div>

<app-layout-settings *ngIf="isSettingsPage()"></app-layout-settings>

<app-ai-chatbot *ngIf="!isMonitoringPage()"></app-ai-chatbot>
