body.dark .prose h1,
body.dark .prose h2,
body.dark .prose h3,
body.dark .prose h4,
body.dark .prose blockquote>p,
body.dark .prose p>strong,
body.dark .prose p>a,
body.dark .prose {
    color: white;
}

body.dark li>strong {
    color: white;
    font-weight: bold;
}

@media (min-width: 492px) {
  :host ::ng-deep .container-tight {
    max-width: 40%;
  }
}
