<div class="card">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">{{ 'settings.hosts.name' | translate }}</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="name" required>
      </div>
      <div class="row g-3 mb-3">
        <div class="col-md-8">
          <label class="form-label">{{ 'settings.hosts.ipAddress' | translate }}</label>
          <input type="text" class="form-control" name="ipAddress" [(ngModel)]="ipAddress" placeholder="192.168.1.1" required>
        </div>
        <div class="col-md-4">
          <label class="form-label">{{ 'settings.hosts.port' | translate }}</label>
          <input type="number" class="form-control" name="port" [(ngModel)]="port" required>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">{{ 'settings.hosts.type' | translate }}</label>
        <input type="text" class="form-control" name="type" [(ngModel)]="type">
      </div>
      <div class="mb-3">
        <label class="form-label">{{ 'settings.hosts.status' | translate }}</label>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" name="status" [(ngModel)]="status" id="status">
          <label class="form-check-label" for="status">{{ status ? ('settings.hosts.active' | translate) : ('settings.hosts.inactive' | translate) }}</label>
        </div>
      </div>
      <div class="card-footer bg-transparent mt-auto">
        <div class="btn-list justify-content-end">
          <button type="submit" class="btn btn-primary">{{ 'settings.hosts.save' | translate }}</button>
        </div>
      </div>
    </form>
  </div>
</div>
