<header class="navbar navbar-expand-md d-print-none">
  <div class="container-xl">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" [attr.aria-label]="'layout.header.toggleNav' | translate">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-brand navbar-brand-autodark pe-0 pe-md-3">
      <a href="/" [attr.aria-label]="'layout.header.home' | translate">
        <img src="assets/img/logo/logo-light.png" class="navbar-brand-image" [attr.alt]="'layout.header.logo' | translate">
      </a>
    </div>

    <div class="navbar-nav flex-row order-md-last">
      <div class="nav-item d-none d-md-flex me-3">
         <!---- TEXT---->
      </div>
      <div class="d-none d-md-flex me-3">
        <div class="nav-item dropdown d-none d-md-flex">
          <a href="javascript:void(0)" class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1" [attr.aria-label]="'layout.header.showNotifications' | translate" data-bs-auto-close="outside" aria-expanded="false">
            <i-tabler name="bell" class="icon icon-sm"></i-tabler>
            <span class="badge bg-red" *ngIf="unreadCount > 0">{{ unreadCount }}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-end dropdown-menu-card">
            <div class="card">
              <div class="card-header d-flex">
                <h3 class="card-title">{{ 'layout.header.notifications' | translate }}</h3>
                <div class="btn-close ms-auto" data-bs-dismiss="dropdown"></div>
              </div>
              <div class="list-group list-group-flush list-group-hoverable">
                <div class="list-group-item" *ngFor="let n of notifications">
                  <div class="row align-items-center">
                    <div class="col-auto">
                      <span class="status-dot d-block" [class.status-dot-animated]="!n.read" [class.bg-red]="!n.read"></span>
                    </div>
                    <div class="col text-truncate">
                      <a href="javascript:void(0)" class="text-body d-block">{{ n.title | translate }}</a>
                      <div class="d-block text-secondary text-truncate mt-n1">{{ n.time | translate }}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <a href="javascript:void(0)" class="btn btn-outline-secondary w-100" (click)="unreadCount = 0">{{ 'layout.header.archiveAll' | translate }}</a>
                  </div>
                  <div class="col">
                    <a href="javascript:void(0)" class="btn btn-outline-secondary w-100" (click)="unreadCount = 0">{{ 'layout.header.markAllRead' | translate }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>

        <div class="nav-item dropdown d-none d-md-flex">
          <a href="javascript:void(0)" class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1" [attr.aria-label]="'layout.header.showApps' | translate" data-bs-auto-close="outside" aria-expanded="false">
            <i-tabler name="apps" class="icon icon-sm"></i-tabler>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-end dropdown-menu-card">
            <div class="card">
              <div class="card-header">
                <div class="card-title">{{ 'layout.header.apps' | translate }}</div>
              </div>
              <div class="card-body scroll-y p-2" style="max-height: 50vh">
                <div class="row g-0">
                  <div class="col-4" *ngFor="let app of apps">
                    <a [routerLink]="app.route" class="d-flex flex-column align-items-center justify-content-center text-center text-secondary py-2 px-2 link-hoverable">
                      <span *ngIf="isSvgIcon(app.icon)" class="icon-md mx-auto mb-2" [innerHTML]="trustHtml(app.icon!)"></span>
                      <i-tabler *ngIf="!isSvgIcon(app.icon)" [name]="getIconName(app.icon)" class="icon icon-md mx-auto mb-2"></i-tabler>
                      <span class="h5">{{ app.label | translate }}</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--## mode ##--->
        <div class="nav-item">
          <a href="javascript:void(0)" class="nav-link px-0 hide-theme-dark" [title]="'layout.header.enableDarkMode' | translate" (click)="toggleTheme()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-moon">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454l0 .008" />
            </svg>
          </a>
          <!--## mode ##--->
          <a href="javascript:void(0)" class="nav-link px-0 hide-theme-light" [title]="'layout.header.enableLightMode' | translate" (click)="toggleTheme()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-sun">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 19a1 1 0 0 1 .993 .883l.007 .117v1a1 1 0 0 1 -1.993 .117l-.007 -.117v-1a1 1 0 0 1 1 -1z" />
                <path d="M18.313 16.91l.094 .083l.7 .7a1 1 0 0 1 -1.32 1.497l-.094 -.083l-.7 -.7a1 1 0 0 1 1.218 -1.567l.102 .07z" />
                <path d="M7.007 16.993a1 1 0 0 1 .083 1.32l-.083 .094l-.7 .7a1 1 0 0 1 -1.497 -1.32l.083 -.094l.7 -.7a1 1 0 0 1 1.414 0z" />
                <path d="M4 11a1 1 0 0 1 .117 1.993l-.117 .007h-1a1 1 0 0 1 -.117 -1.993l.117 -.007h1z" />
                <path d="M21 11a1 1 0 0 1 .117 1.993l-.117 .007h-1a1 1 0 0 1 -.117 -1.993l.117 -.007h1z" />
                <path d="M6.213 4.81l.094 .083l.7 .7a1 1 0 0 1 -1.32 1.497l-.094 -.083l-.7 -.7a1 1 0 0 1 1.217 -1.567l.102 .07z" />
                <path d="M19.107 4.893a1 1 0 0 1 .083 1.32l-.083 .094l-.7 .7a1 1 0 0 1 -1.497 -1.32l.083 -.094l.7 -.7a1 1 0 0 1 1.414 0z" />
                <path d="M12 2a1 1 0 0 1 .993 .883l.007 .117v1a1 1 0 0 1 -1.993 .117l-.007 -.117v-1a1 1 0 0 1 1 -1z" />
                <path d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z" />
            </svg>
          </a>
        </div>
        <!--## mode ##--->
 <div class="nav-item dropdown d-none d-md-flex">
          <a href="javascript:void(0)" class="nav-link px-0 layout-toggle" data-bs-toggle="dropdown" tabindex="-1" [attr.aria-label]="'layout.header.layoutTitle' | translate" data-bs-auto-close="outside" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-adjustments-alt">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M4 8h4v4h-4l0 -4" />
                <path d="M6 4l0 4" />
                <path d="M6 12l0 8" />
                <path d="M10 14h4v4h-4l0 -4" />
                <path d="M12 4l0 10" />
                <path d="M12 18l0 2" />
                <path d="M16 5h4v4h-4l0 -4" />
                <path d="M18 4l0 1" />
                <path d="M18 9l0 11" />
            </svg>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-end dropdown-menu-card">
            <div class="card">
              <div class="list-group list-group-flush list-group-hoverable">
                <div class="list-group-item" [class.active]="layoutMode === 'fluid'">
                  <div class="row align-items-center">
                    <div class="col-auto">
                      <a href="javascript:void(0)" class="list-group-item-actions" (click)="setLayout('fluid')">
                        <i-tabler name="arrow-autofit-width" class="icon"></i-tabler>
                        {{ 'layout.header.layoutFluid' | translate }}
                      </a>
                    </div>
                  </div>
                </div>
                <div class="list-group-item" [class.active]="layoutMode === 'boxed'">
                  <div class="row align-items-center">
                    <div class="col-auto">
                      <a href="javascript:void(0)" class="list-group-item-actions" (click)="setLayout('boxed')">
                        <i-tabler name="arrows-minimize" class="icon"></i-tabler>
                        {{ 'layout.header.layoutBoxed' | translate }}
                      </a>
                    </div>
                  </div>
                </div>
                <div class="list-group-item" [class.active]="layoutMode === 'boxed-2'">
                  <div class="row align-items-center">
                    <div class="col-auto">
                      <a href="javascript:void(0)" class="list-group-item-actions" (click)="setLayout('boxed-2')">
                        <i-tabler name="aspect-ratio" class="icon"></i-tabler>
                        {{ 'layout.header.layoutBoxed2' | translate }}
                      </a>
                    </div>
                  </div>
                </div>
                <div class="list-group-item">
                  <div class="row align-items-center">
                    <div class="col-auto">
                      <a href="javascript:void(0)" class="list-group-item-actions" (click)="openFullscreen()">
                        <i-tabler name="arrows-maximize" class="icon"></i-tabler>
                        {{ 'layout.header.fullScreen' | translate }}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!----####---->
      <div class="nav-item d-flex me-2 me-md-3" *ngIf="isSettingsPage()">
        <a href="javascript:void(0)" class="nav-link px-0" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-settings" [title]="'layout.settings.title' | translate" [attr.aria-label]="'layout.settings.title' | translate">
          <i-tabler name="settings" class="icon icon-sm"></i-tabler>
        </a>
      </div>
        <!--####--->
      <div class="nav-item dropdown">
        <!--####--->
        <a href="javascript:void(0)" class="nav-link d-flex lh-1 p-0 px-2" data-bs-toggle="dropdown" [attr.aria-label]="'layout.header.openUserMenu' | translate">
          <img src="assets/img/avatars/avatar1.png" class="avatar avatar-sm" [attr.alt]="'layout.header.userAvatar' | translate">
          <div class="d-none d-xl-block ps-2">
            <div>{{ username || ('layout.header.userName' | translate) }}</div>
            <div class="mt-1 small text-secondary">{{ 'layout.header.userRole' | translate }}</div>
          </div>
        </a>
        <!--####--->
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
          <ng-container *ngFor="let item of profileMenu">
            <div class="dropdown-divider" *ngIf="item.divider"></div>
            <a *ngIf="!item.divider" class="dropdown-item" [routerLink]="item.route" (click)="item.action === 'logout' && openLogoutConfirm()">
              <span *ngIf="isSvgIcon(item.icon)" [innerHTML]="trustHtml(item.icon!)"></span>
              <i-tabler *ngIf="!isSvgIcon(item.icon)" [name]="getIconName(item.icon)" class="icon dropdown-item-icon"></i-tabler>
              {{ item.label | translate }}
            </a>
          </ng-container>
        </div>
        <!--####--->
      </div>
        <!--####--->
        <app-language-selector>
        <!--####--->
        </app-language-selector>
        <!--####--->
    </div>
  </div>
</header>
<!-- Horizontal Menu -->
<div class="navbar-expand-md">
  <div class="collapse navbar-collapse" id="navbar-menu">
    <div class="navbar">
      <div class="container-xl">
        <div class="row flex-column flex-md-row flex-fill align-items-center">
          <div class="col">
            <nav aria-label="Primary">
              <ul class="navbar-nav">
                <li *ngFor="let item of horizontalMenu" class="nav-item" [class.dropdown]="!!item.children">
                  <ng-container *ngIf="!item.children; else hMenuHasChildren">
                    <a class="nav-link" [routerLink]="item.route" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                      <span class="nav-link-icon d-md-none d-lg-inline-block">
                        <span *ngIf="isSvgIcon(item.icon)" [innerHTML]="trustHtml(item.icon!)"></span>
                        <i-tabler *ngIf="!isSvgIcon(item.icon)" [name]="getIconName(item.icon)" class="icon icon-sm"></i-tabler>
                      </span>
                      <span class="nav-link-title">{{ item.label | translate }}</span>
                    </a>
                  </ng-container>
                  <ng-template #hMenuHasChildren>
                    <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-haspopup="true">
                      <span class="nav-link-icon d-md-none d-lg-inline-block">
                        <span *ngIf="isSvgIcon(item.icon)" [innerHTML]="trustHtml(item.icon!)"></span>
                        <i-tabler *ngIf="!isSvgIcon(item.icon)" [name]="getIconName(item.icon)" class="icon icon-sm"></i-tabler>
                      </span>
                      <span class="nav-link-title">{{ item.label | translate }}</span>
                    </a>
                    <div class="dropdown-menu">
                      <ng-container *ngFor="let child of item.children">
                        <ng-container *ngIf="child.children; else level2NoChildren">
                          <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="javascript:void(0)">
                              <span *ngIf="isSvgIcon(child.icon)" class="icon-inline me-1" [innerHTML]="trustHtml(child.icon!)"></span>
                              <i-tabler *ngIf="!isSvgIcon(child.icon)" [name]="getIconName(child.icon)" class="icon-inline me-1"></i-tabler>
                              {{ child.label | translate }}
                            </a>
                            <div class="dropdown-menu">
                              <ng-container *ngFor="let child2 of child.children">
                                <a class="dropdown-item" [routerLink]="child2.route" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                  <span *ngIf="isSvgIcon(child2.icon)" class="icon-inline me-1" [innerHTML]="trustHtml(child2.icon!)"></span>
                                  <i-tabler *ngIf="!isSvgIcon(child2.icon)" [name]="getIconName(child2.icon)" class="icon-inline me-1"></i-tabler>
                                   {{ child2.label | translate }}
                                </a>
                              </ng-container>
                            </div>
                          </li>
                        </ng-container>
                        <ng-template #level2NoChildren>
                          <a class="dropdown-item" [routerLink]="child.route" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            <span *ngIf="isSvgIcon(child.icon)" class="icon-inline me-1" [innerHTML]="trustHtml(child.icon!)"></span>
                            <i-tabler *ngIf="!isSvgIcon(child.icon)" [name]="getIconName(child.icon)" class="icon-inline me-1"></i-tabler>
                            {{ child.label | translate }}
                          </a>
                        </ng-template>
                      </ng-container>
                    </div>
                  </ng-template>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col col-md-auto">
            <ul class="navbar-nav">
              <li class="nav-item" *ngIf="isSettingsPage()">
                <a class="nav-link" href="javascript:void(0)" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-settings">
                  <span class="badge badge-sm bg-red text-red-fg me-2">{{ 'nav.new' | translate }}</span>
                  <span class="nav-link-icon d-md-none d-lg-inline-block">
                    <i-tabler name="settings" class="icon icon-sm"></i-tabler>
                  </span>
                  <span class="nav-link-title">{{ 'layout.settings.title' | translate }}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Sign out confirmation modal -->
<app-confirm-modal
  [visible]="showLogoutConfirm"
  title="layout.header.signOutConfirmTitle"
  message="layout.header.signOutConfirmMessage"
  confirmText="layout.header.signOutConfirmButton"
  (onConfirm)="confirmLogout()"
  (onCancel)="cancelLogout()">
</app-confirm-modal>
