.layout-toggle {
  i-tabler.icon {
    color: #fff;
  }
}

.dropdown-menu-card {
  .list-group-hoverable .list-group-item-actions {
    opacity: 1;
    color: var(--tblr-body-color);
    text-decoration: none;

    &:hover {
      color: var(--tblr-primary);
    }
  }

  .list-group-item.active .list-group-item-actions {
    color: #fff;
  }
}

.dropdown-submenu {
  position: relative;

  > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
  }

  &:hover > .dropdown-menu {
    display: block;
  }

  > .dropdown-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;

    &::after {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: auto;
      vertical-align: 0;
      border-top: 0.3em solid transparent;
      border-right: 0;
      border-bottom: 0.3em solid transparent;
      border-left: 0.3em solid currentcolor;
    }
  }

  &:hover > .dropdown-item {
    background-color: var(--bs-dropdown-link-hover-bg);
  }
}
