<div class="card">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">{{ 'settings.line.name' | translate }}</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="name" required>
      </div>
      <div class="mb-3">
        <label class="form-label">{{ 'settings.line.channelAccessToken' | translate }}</label>
        <input type="text" class="form-control" name="channelAccessToken" [(ngModel)]="channelAccessToken" required>
      </div>
      <div class="mb-3">
        <label class="form-label">{{ 'settings.line.userId' | translate }}</label>
        <input type="text" class="form-control" name="userId" [(ngModel)]="userId" required>
      </div>
      <div class="mb-3">
        <label class="form-label">{{ 'settings.line.status' | translate }}</label>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" name="status" [(ngModel)]="status" id="status">
          <label class="form-check-label" for="status">{{ status ? ('settings.line.active' | translate) : ('settings.line.inactive' | translate) }}</label>
        </div>
      </div>
      <div class="card-footer bg-transparent mt-auto">
        <div class="btn-list justify-content-end">
          <button type="submit" class="btn btn-primary">{{ 'settings.line.save' | translate }}</button>
        </div>
      </div>
    </form>
  </div>
</div>
