<div class="page-body">
  <div class="container-xl">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Icons Grid</h3>
      </div>
      <div class="card-body">
        <div class="row g-3">
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <div class="card card-sm">
              <div class="card-body text-center">
                <i-tabler name="star" class="icon icon-tabler icon-tabler-lg mb-2"></i-tabler>
                <div class="text-muted small">star</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <div class="card card-sm">
              <div class="card-body text-center">
                <i-tabler name="heart" class="icon icon-tabler icon-tabler-lg mb-2"></i-tabler>
                <div class="text-muted small">heart</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <div class="card card-sm">
              <div class="card-body text-center">
                <i-tabler name="settings" class="icon icon-tabler icon-tabler-lg mb-2"></i-tabler>
                <div class="text-muted small">settings</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <div class="card card-sm">
              <div class="card-body text-center">
                <i-tabler name="user" class="icon icon-tabler icon-tabler-lg mb-2"></i-tabler>
                <div class="text-muted small">user</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <div class="card card-sm">
              <div class="card-body text-center">
                <i-tabler name="mail" class="icon icon-tabler icon-tabler-lg mb-2"></i-tabler>
                <div class="text-muted small">mail</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <div class="card card-sm">
              <div class="card-body text-center">
                <i-tabler name="bell" class="icon icon-tabler icon-tabler-lg mb-2"></i-tabler>
                <div class="text-muted small">bell</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <div class="card card-sm">
              <div class="card-body text-center">
                <i-tabler name="search" class="icon icon-tabler icon-tabler-lg mb-2"></i-tabler>
                <div class="text-muted small">search</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <div class="card card-sm">
              <div class="card-body text-center">
                <i-tabler name="home" class="icon icon-tabler icon-tabler-lg mb-2"></i-tabler>
                <div class="text-muted small">home</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <div class="card card-sm">
              <div class="card-body text-center">
                <i-tabler name="calendar" class="icon icon-tabler icon-tabler-lg mb-2"></i-tabler>
                <div class="text-muted small">calendar</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <div class="card card-sm">
              <div class="card-body text-center">
                <i-tabler name="photo" class="icon icon-tabler icon-tabler-lg mb-2"></i-tabler>
                <div class="text-muted small">photo</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <div class="card card-sm">
              <div class="card-body text-center">
                <i-tabler name="file" class="icon icon-tabler icon-tabler-lg mb-2"></i-tabler>
                <div class="text-muted small">file</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <div class="card card-sm">
              <div class="card-body text-center">
                <i-tabler name="download" class="icon icon-tabler icon-tabler-lg mb-2"></i-tabler>
                <div class="text-muted small">download</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>