<ng-container *ngIf="toast$ | async as toast">
  <div class="toast-container position-fixed top-0 end-0 p-3" *ngIf="toast.isOpen" [@inOutAnimation]>
    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header" [class]="color(toast.type!)">
        <strong class="me-auto">{{ toast.title }}</strong>
        <button type="button" class="btn-close btn-close-white" (click)="close()"></button>
      </div>
      <div class="toast-body" [class]="color(toast.type!)">
        {{ toast.message }}
      </div>
    </div>
  </div>
</ng-container>
