<div class="page-header d-print-none">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="page-title">{{ 'wos.title' | translate }}</h2>
      <div class="text-secondary mt-1">{{ 'wos.subtitle' | translate }}</div>
    </div>
    <div class="col-auto ms-auto d-print-none">
      <a routerLink="/wos/orders/create" class="btn btn-primary">{{ 'wos.create' | translate }}</a>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body text-center py-5">
    <div class="text-secondary">{{ 'common.underDevelopment' | translate }}</div>
  </div>
</div>
